<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Brick IT</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li data-item="users"><a href="/user">Users</a></li>
                <li data-item="bricks"><a href="/brick">Bricks</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </div>
    </div>
</div>
<script>
    $(function () {
        <% if(typeof navItem != 'undefined') {%>
        var nav_item = '<%= navItem %>';
        $('.navbar-right li').each(function () {
            if($(this).data('item') == nav_item) {
                $(this).addClass('active');
            }
        });
        <% } %>
    });
</script>