<div class="container">
    <div class="page-header">
        <h3>Dashboard</h3>
    </div>
    <div class="row stats-container">
        <div class="col-md-4">
            <div class="well bg-primary clearfix">
                <h1 class="visible-lg-inline-block"><a href="/user/<%= session.user.nickName%>/apps">3</a></h1> apps
            </div>
        </div>
        <div class="col-md-4">
            <div class="well bg-warning clearfix">
                <h1 class="visible-lg-inline-block"><a href="/user/<%= session.user.nickName%>/bricks">63</a></h1> bricks
            </div>
        </div>
        <div class="col-md-4">
            <div class="well bg-primary clearfix">
                <h1 class="visible-lg-inline-block"><a href="/user/<%= session.user.nickName%>/requests">12</a></h1> requests
            </div>
        </div>
    </div>
</div>

