<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Create User</div>
        <div class="panel-body">
            <form class="form-horizontal" role="form" action="/users" method="post">
                <div class="form-group">
                    <label for="nickName-input" class="col-sm-2 control-label"><h4>Nick Name</h4></label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control input-lg" id="nickName-input" placeholder="Only letter and number allowed">
                    </div>
                </div>
                <div class="form-group">
                    <label for="email-input" class="col-sm-2 control-label"><h4>Email</h4></label>

                    <div class="col-sm-10">
                        <input type="email" class="form-control input-lg" id="email-input" placeholder="Please input valid e-mail address">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>