<div class="container">
    <div class="page-header clearfix">
        <div class="pull-left">
            <h5>All Users</h5>
        </div>
        <div class="pull-right">
            <div class="btn-group">
                <a class="btn btn-default" href="javascript:void(0);"><i class="fa fa-times"></i></a>
                <a class="btn btn-default" href="/user/edit"><i class="fa fa-plus"></i></a>
            </div>
        </div>
    </div>
    <table id="users-table" class="table table-striped table-hover table-bordered" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th><label><input type="checkbox"></label></th>
            <th>Name</th>
            <th>EMail</th>
            <th>Created Date</th>
        </tr>
        </thead>
    </table>
</div>
<script>
    $(function () {
        var users_table = $('#users-table').dataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "/datatables/users",
                "type": "POST"
            },
            order: [
                [3, 'desc']
            ],
            "columns": [
                {
                    render: function(data, type, row){
                        return '<label><input type="checkbox"></label>';
                    },
                    orderable: false,
                    className: 'check'
                },
                { "data": "nickName" },
                { "data": "email" },
                { "data": "createdAt" }
            ]
        }).on('click', 'th:first-child label', function(){
            var checked = $(this).find('input').prop('checked');
            var $tr = $('#users-table tbody').find('td:first-child input[type="checkbox"]')
                    .prop('checked', checked)
                    .parents('tr');
            checked ? $tr.addClass('selected') : $tr.removeClass('selected');
        }).on('click','td', function(e){
            if($(this).hasClass('.dataTables_empty') ||
                    $(e.target).is('input[type="checkbox"]')){
                e.stopPropagation();
            }
            if($(e.target).is("label")){
                e.preventDefault();
                var ele = $(e.target).find('input');
                if(ele.is(':checked')){
                    ele.prop('checked', false);
                }else{
                    ele.prop('checked', true);
                }
                $(this).parents('tr').toggleClass('selected');
                e.stopPropagation();
            }
            if($(e.target).is('input[type="checkbox"]')){
                $(this).parents('tr').toggleClass('selected');
            }
        }).on('click','tbody > tr', function(e){
            var user = users_table.row($(this)).data();
            $('#user-detail-modal').data('user', user)
                    .modal('show');
        }).api();

        $('.btn-group .btn:first-child').on('click', function(){
            var selecteds = users_table.rows('.selected').data(),
                    ids = [];
            _.each(selecteds, function(item){
                ids.push(item.id);
            });
            $.ajax({
                url : '/user',
                type: 'delete',
                data: {ids: ids}
            }).done(function(result){
                if(result.ok) {
                    users_table.draw(false);
                }
            });
        });
    });
</script>
<%- partial('detail') %>