<div class="modal fade" id="brick-detail-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Brick Details</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
    $(function(){
        $('#brick-detail-modal').on('show.bs.modal', function(){
            var brick = $(this).data('brick'),
                    $this = $(this);

            Handlebars.getTemplate('brick-detail')
                    .done(function(tmpl){
                        $this.find('.modal-body').html(tmpl(brick));
                    });
        });
    });
</script>