<div id="content-area" class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Create Brick</div>
        <div class="panel-body">
            <form class="form-horizontal" role="form" action="/brick" method="post">
                <div class="form-group">
                    <label for="app-input" class="col-sm-2 control-label"><h4>App</h4></label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control input-lg" id="app-input" name="app" placeholder="Select target app">
                    </div>
                </div>
                <div class="form-group">
                    <label for="title-input" class="col-sm-2 control-label"><h4>Title</h4></label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control input-lg" id="title-input" name="title" placeholder="Issue title">
                    </div>
                </div>
                <% if (typeof fromMyself == 'undefined') { %>
                <div class="form-group">
                    <label for="created-by-nickname-input" class="col-sm-2 control-label"><h4>Your Name</h4></label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control input-lg" id="created-by-nickname-input" name="createdByNickName" placeholder="Please input your name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="created-by-email-input" class="col-sm-2 control-label"><h4>Your Email</h4></label>

                    <div class="col-sm-10">
                        <input type="email" class="form-control input-lg" id="created-by-email-input" name="createdByEmail" placeholder="Please input valid e-mail address">
                    </div>
                </div>
                <% }%>
                <div class="form-group">
                    <label for="content-input" class="col-sm-2 control-label"><h4>Content</h4></label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control input-lg" id="content-input" name="content" placeholder="Issue Description">
                    </div>
                </div>
                <div class="form-group">
                    <div id="upload-box-container" class="col-sm-offset-2 col-sm-10">
                        <div class="upload-box">
                            <a href="javascript:;" class="thumbnail">
                                <img data-src="holder.js/200x200" alt="100%x100%">
                            </a>
                            <a id="upload-btn" class="btn btn-lg btn-upload" href="javascript:;"><i class="fa fa-plus"></i></a>
                        </div>
                        <input type="hidden" name="screenShots" id="screen-shots-input">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/linker/js/plupload/plupload.js"></script>
<script src="/linker/js/qiniu.js"></script>
<script>
    $(function(){
//        $('.fileinput').fileinput();

        var uploader = Qiniu.uploader({
            runtimes: 'html5,flash,html4',
            browse_button: 'upload-btn',
//            container: 'fileinput',
//            drop_element: 'fileinput',
            max_file_size: '100mb',
            flash_swf_url: '/linker/js/plupload/Moxie.swf',
            dragdrop: false,
            chunk_size: '4mb',
            uptoken_url: '/uptoken',
            domain: 'http://brickit.qiniudn.com/',
            // downtoken_url: '/downtoken',
            unique_names: true,
            // save_key: true,
            // x_vars: {
            //     'id': '1234',
            //     'time': function(up, file) {
            //         var time = (new Date()).getTime();
            //         // do something with 'time'
            //         return time;
            //     },
            // },
            auto_start: true,
            init: {
                'FilesAdded': function(up, files) {
                   console.log('file added');
                },
                'BeforeUpload': function(up, file) {
                    console.log('before file upload');
                },
                'UploadProgress': function(up, file) {
                    console.log('uploading ' + file.percent + "%");
                },
                'UploadComplete': function() {
                    console.log('upload completed');
                },
                'FileUploaded': function(up, file, info) {
                    console.log('file uploaded');
                    var domain = up.getOption('domain');
                    var res = JSON.parse(info);
                    Handlebars.getTemplate('upload-box')
                            .done(function(tmpl){
                                $('#upload-btn').parents('.upload-box').before(tmpl({
                                    key: res.key,
                                    url: domain + res.key
                                }));
                                var v = $('input[name="screenShots"]').val();
                                if($.trim(v)){
                                    v += ',';
                                }
                                v += res.key;
                                $('input[name="screenShots"]').val(v);
                                console.log('screen shots input : ' + v);
                            });

//                    $('#upload-btn').parents('.upload-box').find('.thumbnail img')
//                            .attr('src', domain + res.key)
//                            .css('height', 'auto');
                },
                'Error': function(up, err, errTip) {
                    console.error(err);
                }
                // ,
                // 'Key': function(up, file) {
                //     var key = "";
                //     // do something with key
                //     return key
                // }
            }
        });

        $('#upload-box-container').on('click','.btn-remove', function(){
            var $box = $(this).parents('.upload-box'),
                vs = $('input[name="screenShots"]').val().split(',');
            var k = $box.data('uploaded-key');
            vs = _.filter(vs, function(v){
                return v != k;
            });
            console.log('screen shots input : ' + vs);
            $('input[name="screenShots"]').val(vs.join(','));
            $box.remove();
        });

//        $('#content-area').on('click','#upload-btn',function(){
//            uploader.start();
//        });
    });
</script>