<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Create Brick Request</div>
        <div class="panel-body">
            <form class="form-horizontal" role="form" action="/bricks" method="post">
                <div class="form-group">
                    <label for="app-input" class="col-sm-2 control-label"><h4>App</h4></label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control input-lg" id="app-input" name="app" placeholder="Select target app">
                    </div>
                </div>
                <div class="form-group">
                    <label for="title-input" class="col-sm-2 control-label"><h4>Title</h4></label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control input-lg" id="title-input" name="title" placeholder="Issue title">
                    </div>
                </div>
                <div class="form-group">
                    <label for="created-by-nickname-input" class="col-sm-2 control-label"><h4>Your Name</h4></label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control input-lg" id="created-by-nickname-input" name="createdByNickName" placeholder="Please input your name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="created-by-email-input" class="col-sm-2 control-label"><h4>Your Email</h4></label>

                    <div class="col-sm-10">
                        <input type="email" class="form-control input-lg" id="created-by-email-input" name="createdByEmail" placeholder="Please input valid e-mail address">
                    </div>
                </div>
                <div class="form-group">
                    <label for="content-input" class="col-sm-2 control-label"><h4>Content</h4></label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control input-lg" id="content-input" name="content" placeholder="Issue Description">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>