<div class="container">
    <p class="pull-right">
        <a class="btn btn-primary" href="/users/edit"><i class="fa fa-plus"></i> Create User</a>
    </p>
    <table id="users-table" class="table" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Name</th>
            <th>EMail</th>
            <th>Created Date</th>
        </tr>
        </thead>

        <tfoot>
        <tr>
            <th>Name</th>
            <th>EMail</th>
            <th>Created Date</th>
        </tr>
        </tfoot>
    </table>
</div>