<div class="container">
    <table id="users-table" class="table" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Name</th>
            <th>EMail</th>
            <th>Created Date</th>
        </tr>
        </thead>

        <tfoot>
        <tr>
            <th>Name</th>
            <th>EMail</th>
            <th>Created Date</th>
        </tr>
        </tfoot>
    </table>
</div>