<div class="container" style="margin-top: 150px">
    <div class="jumbotron">
        <h1>Welcome to Brick IT!</h1>
        <p>Our purpose is to provide your customers a way to give their feedback on your applications.</p>
        <p><a class="btn btn-primary btn-lg" role="button" href="/signin">Take Me to Sign In</a>
        <a href="/signup">No account? Sign up first.</a> </p>
    </div>
</div>