<div id="content-area" class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Create App</div>
        <div class="panel-body">
            <form class="form-horizontal" role="form" action="/app" method="post">
                <div class="form-group">
                    <label for="name-input" class="col-sm-2 control-label"><h4>Name</h4></label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control input-lg" id="name-input" name="name" placeholder="Input app name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="domain-input" class="col-sm-2 control-label"><h4>Domain</h4></label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control input-lg" id="domain-input" name="domain" placeholder="Input domain">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(function(){

    });
</script>