<div class="upload-box" data-uploaded-key="{{key}}" >
    <a href="javascript:;" class="thumbnail">
        <img alt="100%x100%" src="{{url}}" style="height: auto">
    </a>
    <a class="btn btn-lg btn-upload btn-remove" href="javascript:;"><i class="fa fa-times"></i></a>
</div>