<ul class="list-group" style="margin-bottom: 0px">
    <a href="#" class="list-group-item active">
        {{email}}
    </a>
    <a href="#" class="list-group-item">
        <div class="row">
            <div class="col-md-2 text-right">
                <span class="label label-default">Nick Name</span>
            </div>
            <div class="col-md-10">
                {{nickName}}
            </div>
        </div>
    </a>
    <a href="#" class="list-group-item">
        <div class="row">
            <div class="col-md-2 text-right">
                <span class="label label-default">Created At</span>
            </div>
            <div class="col-md-10">
                {{createdAt}}
            </div>
        </div>
    </a>
</ul>